body {
  background-color: #0b0c10;
  color: #fff;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-image: url("./shahadat-rahman-BfrQnKBulYQ-unsplash.jpg"); */
  background-size: cover;
}

.icon-3d {
  padding: 10px;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}
hr {
  width: 80%;
  margin: 5px auto;
  border-color: #eee;
}
li a {
  color: #fff;
}


.introduction-content {
  padding: 30px;
  width: 60%;
  text-align: center;
}

.social-media-wrapper{
    text-align: center;
}
